.control{
    background-color: #191414;
    position:relative;
    
    

    ol{

        display: flex;
        align-items: center;
        justify-content:space-between;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .one{
        margin-bottom: 20px;
        position: absolute;
        left: 600px;
        top: 10px;
        
    }


   
    

}

