
.left_container{
    background-color:#000;
    padding-top:20px;
    padding-left:30px;
    width: 500px;
    


    .left_ol{
        padding-right: 10px;
    li{
        margin: 10px;
        display: flex;
        gap: 5px;
        a{
            padding: 0px 8px;
            color:$neutral-color;
            font-size:15px;
        }
    }
    li:hover{
        background-color: #535353;
        
        
        
        
        


    }
   .two{
    padding-top:10px;
     
   }
           
    }

}