
.right{
    background-color:#000;
    margin-left: auto;
    padding-top:20px;
    padding-right:10px;
    width: 520px;
    
    
    

    .avtor{
        color: white;
        font-weight: 700;
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
    }

a{
    display: flex;
    align-items: center; 
    color: #b2b2b2;
    .loop{
        margin: 10px;
        margin-bottom:20px;
        position: relative;
    }
    

.play{
   padding-left:10px;
   position: absolute;
   background-repeat:no-repeat;
   top:55px;
   
   
   
}
    
}


ol{
    p{
        font-size: 10px;
        margin: 0 auto;
    }
}


}