//COLORS/


$neutral-color:#B2B2B2;
$primary-color:#1DB954;
$secondary01-color:#0000;
$secondary02-color:#191414;
$secondary03-color:#ffff;
$neutral-color02:#777777;
$neutral-color03:#535353;
$genre-color:#55A891;
$genre-color02:#27856a;
$genre-color03:#5f8109;
$genre4:#F037A5;
$genre5:#AF2896;
$genre7:#477D95;
$genre8:#509BF5;
$genre9:#1D3164;
$genre10:#E8115B;
$genre11:#E13300;
$genre12:#BA5D07;

